@layer courses {
  [id="courses"] {
    display: flex;
    flex-flow: column nowrap;
    place-content: center;
    place-items: center;
    gap: 3rem;

    text-align: center;

    background-image: url("../../assets/courses-background.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -25rem 30%;

    [courses-container] {
      display: flex;
      flex-flow: row wrap;
      place-content: center;
      place-items: start;
      gap: 3rem;

      article {
        display: flex;
        flex-flow: column nowrap;
        place-items: center;
        place-content: center;
        gap: 1.5rem;

        inline-size: 30rem;
        padding: 1rem;
        border-radius: 0.7rem;

        text-align: center;
        text-wrap: balance;

        h5 {
          white-space: nowrap;
        }
      }

      figure {
        display: flex;
        place-items: center;
        place-content: center;

        inline-size: 20rem;
        aspect-ratio: 1;

        border-radius: 50%;
        margin: 0;

        background-color: #ffffff99;

        img {
          inline-size: 85%;
        }
      }
    }
  }
}
