@layer header {
  header {
    display: flex;
    flex-flow: column;
    place-items: center;
    place-content: center;
    gap: 3rem;

    inline-size: 100%;

    padding: 3rem 3rem 0;

    background-image: url("../../assets/header-background.svg");
    background-repeat: no-repeat;
    background-size: 200vw auto;
    background-position: top center;

    @media screen and (width >= 512px) {
      background-size: 150vw auto;
    }

    @media screen and (width >= 640px) {
      aspect-ratio: 1920 / 740;
      background-size: 100vw auto;
    }

    @media screen and (width >= 800px) {
      place-content: space-between;

      padding-inline: 3rem;
    }

    hgroup {
      display: flex;
      flex-flow: column nowrap;
      place-content: center;
      place-items: center;

      max-inline-size: 90ch;

      text-align: center;
      text-wrap: balance;

      :last-child {
        font-family: "Nunito", sans-serif;

        font-weight: 400;
      }
    }
  }

  [logos] {
    display: flex;
    flex-flow: column;
    gap: 3rem;

    place-content: center;
    place-items: center;

    inline-size: 100%;

    > :last-child {
      display: none;
    }

    @media screen and (width >= 640px) {
      flex-flow: row;

      place-content: space-between;

      > :last-child {
        display: initial;
      }
    }
  }
}
