@layer header {
  header {
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    flex-flow: column;
    place-items: center;
    place-content: center;
    gap: 3rem;

    inline-size: 100%;

    padding: 3rem;
    backdrop-filter: blur(15px);

    @media screen and (width >= 800px) {
      place-content: space-between;

      padding-inline: 3rem;
    }
  }

  [logos] {
    display: flex;
    flex-flow: column;
    gap: 3rem;

    place-content: center;
    place-items: center;

    inline-size: 100%;

    :has([social]) {
      display: flex;
      flex-flow: column nowrap;
      place-content: center;
      place-items: center;
      gap: 2rem;
    }

    > :last-child {
      display: none;
    }

    @media screen and (width >= 1024px) {
      flex-flow: row;

      place-content: space-between;

      > :last-child {
        display: initial;
      }
    }
  }
}
