@layer latest-video {
  [id="latest-video"] {
    display: flex;
    flex-flow: row nowrap;
    gap: 3.8rem;

    :where(youtube-embed, section[card]) {
      width: 64.2rem;
      border-radius: 2.5rem;
      overflow: hidden;
    }

    section[card] {
      position: relative;
      background-color: rgba(255 255 255 / 0.6);

      padding: 2rem 2rem 2rem 4rem;

      badge {
        position: absolute;
        inset: 2rem 2rem auto auto;

        display: flex;
        place-content: center;
        place-items: center;

        inline-size: 5rem;
        border-radius: 1rem;

        font-family: "Nunito", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 2rem;

        color: #fff;
        background-color: #f90493;
      }

      hgroup {
        display: flex;
        flex-flow: column-reverse nowrap;

        :where(h3, h4) {
          margin: 0;
        }

        h3 {
          max-inline-size: 20ch;

          color: #340062;

          font-family: "RocknRoll One", sans-serif;
          font-size: 3.5rem;
          font-weight: 300;
        }

        h4 {
          color: #f90493;

          font-family: "Nunito", sans-serif;
          font-size: 2.5rem;
          font-weight: 700;
        }
      }

      time {
        color: #f90493;

        font-family: "Nunito", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        line-height: 7rem;
      }

      p {
        color: #340062;

        font-family: "Nunito", sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;

        &[live-on] {
          display: flex;
          place-content: start;
          place-items: center;
          gap: 1.4rem;

          color: #fff;

          font-size: 1.4rem;
          font-weight: 900;
          line-height: 2rem;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
