@layer main {
  main {
    display: flex;
    flex-flow: column nowrap;
    gap: 10rem;

    padding: 0 10vw;
  }

  @layer latest-video {
    [id="latest-video"] {
      display: flex;
      place-content: center;

      margin-block-start: 11rem;

      article {
        display: flex;
        flex-flow: row nowrap;
        gap: 3.8rem;

        :where(youtube-embed, section[card]) {
          width: 64.2rem;
          border-radius: 2.5rem;
          overflow: hidden;
        }

        section[card] {
          position: relative;
          background-color: rgba(255 255 255 / 0.6);

          padding: 2rem 2rem 2rem 4rem;

          badge {
            position: absolute;
            inset: 2rem 2rem auto auto;

            display: flex;
            place-content: center;
            place-items: center;

            inline-size: 5rem;
            border-radius: 1rem;

            font-family: "Nunito", sans-serif;
            font-size: 1rem;
            font-weight: 700;
            line-height: 2rem;

            color: #fff;
            background-color: #f90493;
          }

          hgroup {
            display: flex;
            flex-flow: column-reverse nowrap;

            :where(h3, h4) {
              margin: 0;
            }

            h3 {
              max-inline-size: 20ch;

              color: #340062;

              font-family: "RocknRoll One", sans-serif;
              font-size: 3.5rem;
              font-weight: 300;
            }

            h4 {
              color: #f90493;

              font-family: "Nunito", sans-serif;
              font-size: 2.5rem;
              font-weight: 700;
            }
          }

          time {
            color: #f90493;

            font-family: "Nunito", sans-serif;
            font-size: 2rem;
            font-weight: 700;
            line-height: 7rem;
          }

          p {
            color: #340062;

            font-family: "Nunito", sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;

            &[live-on] {
              display: flex;
              place-content: start;
              place-items: center;
              gap: 1.4rem;

              color: #fff;

              font-size: 1.4rem;
              font-weight: 900;
              line-height: 2rem;

              a {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  @layer video-category {
    section[video-category] {
      display: flex;
      flex-flow: row nowrap;
      gap: 3rem;

      > section {
        display: flex;
        flex-flow: column;
        place-content: center;
        place-items: start;

        inline-size: 30%;
        flex-shrink: 0;
      }

      slider {
        flex-grow: 1;
        min-inline-size: 0;
      }
    }
  }

  @layer sensei {
    [id="sensei"] {
      display: flex;
      flex-flow: column nowrap;
      place-content: center;
      place-items: center;
      gap: 3rem;

      text-align: center;

      [sensei-container] {
        display: flex;
        flex-flow: row nowrap;
        gap: 3rem;

        article {
          display: flex;
          flex-flow: column nowrap;
          gap: 1.5rem;

          place-items: center;
          place-content: center;

          inline-size: 30rem;

          text-align: center;
        }

        figure {
          display: flex;
          place-items: center;
          place-content: center;

          inline-size: 20rem;
          aspect-ratio: 1;

          border-radius: 50%;
          margin: 0;

          background-color: #ffffff99;
        }
      }
    }
  }

  @layer partners {
    [id="partners"] {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      gap: 3rem;

      > img {
        position: absolute;
        inset: 0;
        z-index: -1;

        inline-size: 80vw;
        aspect-ratio: 1755 / 835;
        margin: 0;
      }

      [title] {
        display: flex;
        flex-flow: column nowrap;
        place-content: center;
        place-items: center;
        gap: 1rem;

        p {
          max-inline-size: 75ch;
          text-align: center;
        }
      }
    }

    [partners-container] {
      display: flex;
      flex-flow: row wrap;
      place-content: center;
      place-items: start;
      gap: 3rem;

      max-inline-size: 70vw;
      margin: 0 auto;

      a {
        display: inline-flex;
        place-content: center;
        place-items: center;

        background-color: var(--dojo--color--purple-100);

        inline-size: 20rem;
        aspect-ratio: 20 / 12;
        border-radius: 2rem;

        img {
          inline-size: 80%;
        }
      }
    }
  }
}
