@layer nav {
  nav {
    display: flex;
    flex-flow: row nowrap;
    place-content: start;
    place-items: end;
    gap: 2.5rem;

    padding: 2.8rem 3.6rem;
    border-radius: 3.5rem;

    background-color: hsla(270, 85%, 40%, 0.5);

    a {
      border-radius: 0.5rem;

      color: #fff;

      font-family: "Nunito";
      font-size: 1.2em;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      /* @media (prefers-reduced-motion: no-preference) {
        transform: translateX(0);
        transition: transform 300ms linear;

        &:hover {
          transform: translateY(0.5rem);
        }
      } */
    }
  }
}
