@layer nav {
  nav {
    position: fixed;
    inset: 20rem 0 auto auto;
    z-index: 2;

    display: none;
    flex-flow: column nowrap;
    place-content: start;
    place-items: end;
    gap: 0.5rem;

    color: #fff;
    background-color: #ffaed359;

    padding: 2.8rem 3.6rem;
    border-top-left-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;

    @media screen and (width >= 1024px) {
      display: flex;
    }

    a {
      font-family: "Nunito";
      color: #fff;

      border-radius: 0.5rem;

      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      @media (prefers-reduced-motion: no-preference) {
        transform: translateX(0);
        transition: transform 300ms linear;

        &:hover {
          transform: translateX(-0.5rem);
        }
      }
    }
  }
}
