@import "./_header.css" layer(layout);
@import "./_main.css" layer(layout);
@import "./_nav.css" layer(layout);
@import "./_latest-video.css" layer(layout);
@import "./_sensei.css" layer(layout);
@import "./_playlist.css" layer(layout);
@import "./_partners.css" layer(layout);
@import "./_footer.css" layer(layout);

@layer layout {
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  body {
    color: #fff;
    background-color: hsl(270, 85%, 31%);
    background-image: linear-gradient(180deg, hsl(270, 85%, 25%) 0%, hsl(272, 97%, 18%) 100%);
  }
}
