@import "./_header.css" layer(layout);
@import "./_main.css" layer(layout);
@import "./_sections.css" layer(layout);
@import "./_footer.css" layer(layout);

@layer layout {
  html {
    background-color: hsl(270, 85%, 31%);
    background-image: linear-gradient(180deg, hsl(270, 85%, 31%) 0%, hsl(272, 97%, 15%) 100%);
  }

  body {
    color: #fff;

    background-image: url("../../assets/header-background.svg"),
      url("../../assets/sensei-background.svg"), url("../../assets/interview-background.svg"),
      url("../../assets/partners-background-left.svg"),
      url("../../assets/partners-background-right.svg"), url("../../assets/footer-background.svg");
    background-repeat: no-repeat;
    background-size: 100vw auto, auto, auto, auto, auto, 100vw auto;
    background-position: top center, -25rem 30%, 0 55%, 5rem 85%, right 65%, bottom center;
  }
}
