@font-face {
  font-family: "devdojo-icons";
  src: url("fonts/devdojo-icons.ttf?yqu2zz") format("truetype"),
    url("fonts/devdojo-icons.woff?yqu2zz") format("woff"),
    url("fonts/devdojo-icons.svg?yqu2zz#devdojo-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  display: flex;
  place-content: center;
  place-items: center;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "devdojo-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-telegram .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(26, 2, 51);
}
.icon-telegram .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(26, 2, 51);
}
.icon-twitch .path1:before {
  content: "\e903";
  color: rgb(254, 254, 254);
}
.icon-twitch .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(26, 2, 51);
}
.icon-twitch .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-twitch .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(48, 48, 48);
}
.icon-youtube .path1:before {
  content: "\e907";
  color: rgb(26, 2, 51);
}
.icon-youtube .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-linkedin:before {
  content: "\e909";
  color: #1a0233;
}
.icon-buy-me-a-coffee .path1:before {
  content: "\e90a";
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path7:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path8:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path9:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path10:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path11:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 221, 6);
}
.icon-buy-me-a-coffee .path12:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.icon-buy-me-a-coffee .path13:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(26, 2, 51);
}
